@mixin alert-variant($background, $border, $color) {
  color: $gray-100;
  border: 1px solid darken($color, 25%);
  border-bottom: 2px solid darken($color, 25%);
  background: $background;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
