@mixin alert-variant($background, $border, $color) {
  color: $color;
  border: 1px solid lighten($color, 25%);
  background: lighten($background, 8%);
  box-shadow: 0 1px 7px $background;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
