

.tasksPanel {
    width: 32%;
    height: 100%;
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: #FFF;
    overflow-x: hidden;
}

/* .tasksPanel::-webkit-scrollbar {
    width: 11px;
}

.tasksPanel::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 192);
    border: 2.5px solid rgb(232, 231, 236);
}

.tasksPanel::-webkit-scrollbar-track {
    background-color: rgb(232, 231, 236);
    border-radius: 6px;
} */

.tasksPanelWrapper {
    margin: 12px;
}

.tasksPanelTitle {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    font-weight: 600;
    margin-left: 7px;
    line-height: 1.2;
    vertical-align: middle;
}

.taskCard {
    width: 100%;
    padding: 12px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
    margin-top: 12px;
}

.taskCard .taskPublisherProfile {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
}

.taskPublisherProfilePicture {
    width: 100%;
}

.taskPublisher {
    color: #9797AC;
    font-size: 12.5px;
    display: flex;
    align-items: center;
}

.taskPublisher span {
    margin-left: 12px;
}

.taskToDo {
    line-height: 1.4;
    font-size: 14px;
}


.taskSetting {
    width: 100%;
    position: sticky;
    z-index: 0;
    bottom: 0;
    padding: 7px;
}

.taskSettingContainer {
    max-width: 100%;
}

.taskMiniBanner {
    padding: 12px;
}

.taskSettingInput {
    max-width: 314px;
    font-family:'Source Sans Pro'; 
    font-weight: 500;
    font-size: 15px;
    padding: 0;
}

.taskBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .tasksPanel {
        width: 100%;
    }
}