.projectBoard {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-save {
    margin: 1.2em;
    display: none;
}

.toast {
    margin: 0 6px;
    display: table;
    overflow: visible !important;
    position: relative;
    z-index: 1 !important;
}

.toast .toast-body .profileImageContainer {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

.toast .toast-body .profileImageContainer .profilePhoto {
    width: 100%;
}

.toast-special .toast-body input {
    width: 82%;
}

.toast-special .toast-body .toast-row {
    display: flex;
    justify-content: space-between;
}

.toast-special .toast-body button.button-send {
    margin: 12px 0;
    float: right;
}

.toast-info {
    display: none;
}

.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.moduleIndicator {
    margin: -0.5em 1em 1em 1em; 
    color: #A9A8C3; 
    font-family: 'cooper_hewittsemibold'
}

a {
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .projectBoard {
        grid-column: 1 / 19;
    }

    .form-control-variable {
        font-size: 27px;
        font-family: 'cooper_hewittsemibold';
    }
}

.dropdown-menu {
    position: relative;
    z-index: 3;
}

.toast-outstanding {
    background: rgb(93, 0, 170);
}

.toast-outstanding .toast-body {
    color: #fff;
    font-weight: 600;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
}

.boardCardMenuOptions {
    cursor: pointer; 
    margin: 0 0 0 18px
}