

.projectSummaryGoalNotice {
    width: 100%;
    background: rgb(55, 0, 144);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 0;
}

.projectSummaryGoalNotice .goalNoticeContent {
    width: 100%;
    height: 100%;
}

.projectSummaryGoalNotice .goalNoticeContent .goalNoticeOpacity {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
}

.projectSummaryGoalNotice .goalNoticeContent .goalNonNoticeOpacity {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profilePhotoContainer {
    width: 27px;
    height: 27px;
    border-radius: 27px;
    overflow: hidden;
}

.goalNoticeLastTask {
    display: flex;
    align-items: center;
}

.goalNoticeLastTask span {
    margin-left: 10px;
}

.profilePhotoContainer img {
    width: 100%;
}

@keyframes showGoalNotice {
    0% { opacity: 0; }
    100% { opacity: 1; }
}