

.projectSummaryGoalNotice {
    width: 64%;
    margin: 0 1rem;
    background-size: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 0;
}

.projectSummaryGoalNotice .goalNoticeContent {
    width: 100%;
    height: 100%;
}

.projectSummaryGoalNotice .goalNoticeContent .goalNoticeOpacity {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
}

.projectSummaryGoalNotice .goalNoticeContent .goalNonNoticeOpacity {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes showGoalNotice {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 991px){
    .projectSummaryGoalNotice { width: 50%; }
}


@media screen and (max-width: 786px){
    .projectSummaryGoalNotice { width: 100%; }
}