.feather-light {
    width: 24px;
    height: 24px;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-dark {
    width: 24px;
    height: 24px;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-menu {
    width: 18px;
    height: 18px;
    stroke: #9797ac;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-burger {
    width: 32px;
    height: 32px;
    stroke: #0B0B14;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-red {
    width: 20px;
    height: 20px;
    stroke: #FF524C;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-like-options {
    width: 17px;
    height: 17px;
    stroke: rgb(117, 113, 121);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-left: 7px;
}

.feather-mini-red {
    width: 16px;
    height: 16px;
    stroke: #d12b39;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-mini-light {
    width: 17px;
    height: 17px;
    stroke: #f2f2f2;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-link {
    width: 16px;
    height: 16px;
    stroke: rgb(146, 146, 146);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-blue {
    width: 36px;
    height: 36px;
    stroke: #165fec;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-shortcut {
    width: 24px;
    height: 24px;
    stroke: #165fec;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-green {
    width: 16px;
    height: 16px;
    stroke: #00c954;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-sketch {
    width: 33px;
    height: 33px;
    stroke: #9e95aa;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}