/* Dashboard order */
.screenContent {
    width: 100vw;
    height: 100vh;
}

.dashboardContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.layoutContainer {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.cardsContent {
    display: flex;
}

/* Project Feed Order */

.projectHeader {
    width: 100%;
    height: 142px;
    background-size: cover;
    background-position: center;
}

.projectHeaderBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.589);
    display: flex;
    align-items: flex-end;
    padding: 2rem;
}

.projectSummaryData {
    grid-column: 4 / 17;
    grid-row: 7 / 11;
    display: flex;
    /* padding: 22px;
    margin: 0 auto; */
}

.projectSummaryCard {
    padding: 21px;
    margin: 0.5em;
    background-color: #ffff;
    border: 1px solid #ececec;
    border-radius: 6px;
}

.projectSummaryCard .usersList {
    width: 278px;
    list-style: none;
}

.projectSummaryCard .usersList li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.projectSummaryCard .usersList li .userInfo {
    margin-left: 1em;
}

/* .projectSummaryCard .usersList li .userInfo span {
    
} */

.projectSummaryCard .usersList li .userPhoto {
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    background-color: #e4c6ff;
    color: #5c169e;
    font-size: 19px;
    font-weight: 700;
}

.projectSummaryCard .usersList li .userName {
    font-weight: 700;
    letter-spacing: -0.2px;
    font-size: 14px;
    margin: -2px 0 0 0;
}

.projectSummaryCard .usersList li .userName span {
    font-family: "Open Sans";
    font-weight: 600;
    margin-left: 3px;
}

.rowContent {
    display: flex;
    align-items: center;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

.projectSummaryImageOnCard {
    position: relative;
    left: -21px;
    bottom: -21px;
}

.feed-card-bg {
    grid-row: 1 / 4;
    grid-column: 2 / 19;
    background: rgb(36, 35, 73);
    background: linear-gradient(
        90deg,
        rgba(36, 35, 73, 1) 0%,
        rgba(1, 12, 46, 1) 100%
    );
    justify-content: space-between;
    align-items: center;
    /* temporally */
    display: none;
}

.projectSummaryPurpleCard {
    background-color: #5900c6;
    grid-column: 4 / 17;
    grid-row: 1 / 7;
    padding: 32px;
    margin: 12px;
    border-radius: 6px;
}

.projectBoard {
    width: 100%;
    padding: 1rem 3rem;
}

.form-control-special:focus {
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 0 solid rgb(0, 0, 0);
}

.content-instruct {
    width: 62%;
    color: #cecedd;
}

.projectsField {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#projectsField {
    display: flex;
    flex-direction: column;
}

#projectsField ul {
    margin: 0;
}

#projectsField ul .project-el {
    margin-bottom: 1em;
}

.projectsField .card-nwp {
    height: 12rem;
    width: 18rem;
    background-color: #ffeb38;
    border: none;
}

.projectsField .card-nwp .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsField .project-card:hover {
    animation: borderActive 300ms forwards;
}

.notificationsContent {
    padding: 4rem;
}

@keyframes borderActive {
    to {
        border: 1px solid #5900c6;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    }
}

#projectsField {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.preloader-wall {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader {
    width: 82px;
    height: 82px;
    border: 7px solid #f1f1f1;
    border-top: 7px solid #5900c6;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader .planet {
    width: 44px;
    height: 32px;
    position: relative;
}

.layoutCard {
    width: 97vw;
    margin: 12px auto;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.061);
}

.instruct {
    font-weight: 700;
    color: white;
    margin-left: 2rem;
    margin-bottom: 0;
}

.card.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}

.card.project-card .card-body .card-title {
    margin: 0;
}

.card-body {
    padding: 14px 17px;
    display: flex;
    align-items: center;
}

a:hover {
    text-decoration: none;
}

.muted-gray {
    color: #9797ac;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
}

.lateral-menu-container {
    grid-column: 1 / 2;
    grid-row: 1 / 13;
    position: relative;
}

.lateral-menu-container .lateral-menu-bg-correction {
    width: 100%;
    height: 100%;
    background-color: rgb(24, 20, 32);
}

.lateral-menu-container .lateral-menu-bg-correction .lateralPanelOption {
    width: 100%;
    display: block;
    text-align: center;
}

.lateral-menu-container .lateral-menu-bg-correction .markup-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lateral-menu-container .lateral-menu-bg-correction .projectTitle {
    width: 100%;
    color: #fff;
    margin: 0.3em;
    padding: 0 0 1em 20px;
    text-transform: capitalize;
}

.lateral-menu-container .lateral-menu-bg-correction .stadistic-card {
    width: 94%;
    padding: 0.3em 1em;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: white;
    display: none;
}

.lateral-menu-container
    .lateral-menu-bg-correction
    .stadistic-card
    .project-count {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.lateral-menu-container .lateral-menu-bg-correction .project-count h6 {
    margin-top: 4px;
}

.lateral-menu-container .lateral-menu-bg-correction .buttons-row {
    display: flex;
    width: 94%;
    margin: 12px auto;
}

.lateral-menu-container .lateral-menu-bg-correction .buttons-row .btn-gradient {
    font-family: "cooperhewitt_heavy";
    background: rgb(174, 0, 221);
    background: linear-gradient(
        90deg,
        rgba(174, 0, 221, 1) 0%,
        rgba(255, 0, 176, 1) 100%
    );
    color: white;
}

.lateral-menu-container .lateral-menu-bg-correction .stadistic-part-bottom {
    position: absolute;
    bottom: 12px;
}

.card-body .card-title {
    font-weight: 700;
    letter-spacing: -0.4px;
}

.card-body a {
    font-weight: 600;
    font-size: 14px;
}

.projects-field-title {
    letter-spacing: -0.2px;
    text-transform: none;
    font-size: 15px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.configurationView {
    padding: 2rem;
}

.tabSelector {
    grid-column: 1 / 19;
}

.tabsContent {
    grid-column: 1 / 20;
}

/* mediaqueries  */

@media screen and (max-width: 1812px) {
    .lateral-menu-container .lateral-menu-bg-correction .lateralPanelOption {
        margin-bottom: 42px;
    }

    .markup-container img {
        margin: 42px auto;
    }
}

@media screen and (max-width: 1221px) {
    .lateral-menu-container {
        min-width: 6vw;
    }
}

@media screen and (max-width: 991px) {
    .lateral-menu-container {
        min-width: 8vw;
    }

    .feed-card-bg {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .lateral-menu-container {
        grid-row: 12 / 13;
        grid-column: 1 / 19;
    }

    .lateral-menu-container .lateral-menu-bg-correction {
        max-width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .lateral-menu-container .lateral-menu-bg-correction .lateralPanelOption {
        max-width: 30px;
        margin: 0;
    }

    .lateral-menu-container .lateral-menu-bg-correction .markup-container {
        max-width: 60px;
        margin: 0;
    }

    .image-representation img {
        width: 277px;
    }

    .current-profile .profile-content img {
        border: 3px solid rgba(219, 217, 217, 0.349);
    }

    .projectSummaryPurpleCard {
        margin: 0;
        grid-row: 1 / 7;
        grid-column: 1 / 19;
    }

    .projectSummaryData {
        grid-row: 7 / 12;
        grid-column: 1 / 19;
        flex-direction: column;
        padding: 0 !important;
    }
}

@media screen and (max-width: 479px) {
    .content-flex {
        flex-direction: column;
    }

    .card-body {
        padding: 12px;
    }

    .projectSummaryPurpleCard {
        border-radius: 0 !important;
    }

    .feed-card-bg {
        grid-column: 1 / 19;
        grid-row: 1 / 3;
    }

    .navbar-brand {
        margin-left: -1.4rem;
    }

    .content-flex {
        flex-direction: column;
    }

    .project-card {
        min-width: 94%;
        display: inline-block;
        margin-bottom: 1rem;
        border-left: 5px solid #5900c6;
    }
}
