/* Desktop */

.headerMenu {
    width: 100%;
    grid-row: 1 / 2;
    background-color: #1f1e2c;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
}

.headerWrapper {
    width: 50%;
    display: flex;
}

.headerMenu .headerBrand {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.headerMenu .headerSearch {
    display: flex;
    align-items: center;
}

.headerMenu .headerSearch .inputSearch {
    width: 288px;
    margin: 0 1rem;
}

.headerMenu .headerNav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerMenu .headerNav .headerNavLink {
    font-weight: 600;
    margin-right: 14px;
}

.headerWrapperRight {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 14px;
    cursor: pointer;
}

.lateralPanelOption .lateralMenuLink {
    color: #F2F2F2;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-left: 12px;
}

@media screen and (max-width: 991px){
    .headerMenu .headerSearch {
        display: none;
    }
}
