.heroesLayout {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    width: 27%;
}

@media screen and (max-width: 991px) {
    .content {
        width: 100%;
    }
}