
.landingTotalBanner {
    width: 100%;
    height: 71vh;
    background: #d9d9f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
    top: 54px;
}

.landingTotalBanner .landingTotalBannerImage {
    width: 670px;
}

.landingTotalBanner .landingTotalBannerContent {
    width: 46%;
}

.landingTotalBanner .landingTotalBannerContent h1 {
    color: rgb(45, 24, 65);
    font-size: 38px;
    line-height: 0.9;
}

.landingTotalBanner .landingTotalBannerContent p {
    width: 80%;
    color: rgb(93, 78, 107);
    margin-top: 17px;
}

.landingHeader {
    width: 100%;
    height: 54px;
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    position: absolute;
    top: 0;
}

.landingReasons {
    width: 100%;
    background: #f2f2f2;
    padding: 2rem;
    margin-top: 4rem;
}

.landingReasons h3 {
    text-align: center;
}

.landingCardReason {
    width: 30%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.landingCardReasonImage {
    width: 100px;
    margin: 0 auto 1rem auto;
}

.landingCardReasonTitle {
    font-family: 'Open sans';
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 18px;
}

.landingCardReasonMessage {
    font-size: 14px;
}

.landingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.landingFooter {
    background: #0E0033;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.landingFooterBrand {
    grid-column: 1 / 2;
    font-size: 13px;
    width: 57%;
}

.landingFooterBrand p {
    margin-top: 12px;
}

.landingFooterLinks {
    grid-column: 2 / 3;
}

.overline {
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(172, 176, 194);
    font-size: 13px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 7px;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.landingFooterMessage {
    grid-column: 3 / 4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
    .landingTotalBanner .landingTotalBannerImage {
        width: 500px;
    }
}


@media screen and (max-width: 882px) {
    .landingTotalBanner .landingTotalBannerContent h1 {
        font-size: 28px;
    }

    .landingTotalBanner .landingTotalBannerContent p {
        font-size: 15px;
    }

    .landingTotalBanner .landingTotalBannerImage {
        width: 450px;
    }
}

@media screen and (max-width: 800px) {
    .landingTotalBanner {
        height: auto;
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 725px) {
    .landingTotalBanner {
        flex-direction: column-reverse;
    }

    .landingTotalBanner .landingTotalBannerContent {
        width: 100%;
    }

    .landingTotalBanner .landingTotalBannerImage {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 692px) {
    .landingCards {
        flex-direction: column;
    }

    .landingCardReason {
        width: 100%;
        margin-bottom: 12px;
    }
    
    .landingFooter {
        grid-template-columns: unset;
        grid-template-rows: repeat(3, 1fr);
    }

    .landingFooterBrand {
        grid-column: unset;
        grid-row: 1 / 2;
    }

    .landingFooterLinks {
        grid-column: unset;
        grid-row: 2 / 3;
    }

    .landingFooterMessage {
        grid-column: unset;
        grid-row: 3 / 4;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 467px) {
    .landingTotalBanner .landingTotalBannerImage {
        width: 100%;
    }
}