
.lateral-menu-container {
    grid-column: 1 / 4;
    grid-row: 1 / 13;
    padding: 1.5rem 2rem;
    background-color: #ffffff00;
}

.lateral-menu-container .lateral-menu-header .logotype {
    width: 172px;
    height: 30px;
    background-image: url('../logo-common-cutted.svg');
    background-size: 172px ;
}

.lateral-menu-container .lateral-menu-body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.lateral-menu-container .lateral-menu-body .lateralPanelOption {
    width: 100%;
    margin: 1em 0;
}

.lateral-menu-container .lateral-menu-body .lateralPanelOption .lateralMenuLink {
    color: #14141f;
    font-weight: 700;
    font-size: 14px;
    margin-left: 8px;
    letter-spacing: -0.4px;
}

.lateral-menu-container .lateral-menu-body .lateralPanelOption .lateralMenuLink:hover {
    animation: standOutColor 300ms forwards;
}

@keyframes standOutColor {
    to { color: #6610f2 }
}

@media screen and (max-width: 991px) {
    .lateral-menu-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #cccccc;
    }

    .lateral-menu-container .lateral-menu-body {
        flex-direction: row;
        margin-top: 0;
    }

    .lateral-menu-container .lateral-menu-body .text-muted {
        display: none;
    }

    .lateral-menu-container .lateral-menu-body .lateralPanelOption {
        width: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 12px;
    }
}

@media screen and (max-width: 767px) {
    .lateral-menu-container .lateral-menu-header .logotype {
        width: 48px;
        background-image: url('../isotipe-color.svg');
        background-size: 48px;
    }

    .lateral-menu-container .lateral-menu-body .lateralPanelOption {
        margin: 0 6px;
        font-size: 13px;
    }

    .lateral-menu-container {
        padding: 1em;
    }
}

@media screen and (max-width: 512px) {
    .lateral-menu-container .lateral-menu-header {
        display: none;
    }

    .lateral-menu-container .lateral-menu-body {
        width: 100%;
        justify-content: space-between;
    }
}