
.lateral-menu-container {
    grid-column: 1 / 4;
    grid-row: 1 / 13;
    padding: 1.5rem 2rem;
    background-color: #ffffff00;
    position: relative;
    z-index: 10;
}

.lateral-menu-container .lateral-menu-header .logotype {
    width: 152px;
    height: 27px;
    background-image: url('../logo-common-cutted.png');
    background-size: 152px;
}

.lateral-menu-container .lateral-menu-body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.lateral-menu-container .lateral-menu-body .lateralPanelOption {
    width: 100%;
    margin: 1em 0;
}

.lateral-menu-container .lateral-menu-body .modules {
    display: flex;
    flex-direction: column;
}

.lateral-menu-container .lateral-menu-body .lateralPanelOption .lateralMenuLink {
    color: #48485B;
    font-weight: 700;
    font-size: 14px;
    margin-left: 8px;
    letter-spacing: -0.4px;
}

.lateral-menu-container .lateral-menu-body .lateralPanelOption .lateralMenuLink:hover {
    animation: standOutColor 300ms forwards;
}

div.overline {
    font-size: 12px;
    font-weight: 700;
    color: #8B92A8;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(110px);
    transition: .3s ease all;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.157);
}

.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: .3s ease all;
}

.modulesDropdown {
    display: none
}

@keyframes standOutColor {
    to { color: #6610f2 }
}

@media screen and (max-width: 991px) {
    .lateral-menu-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #cccccc;
    }

    .lateral-menu-container .lateral-menu-body {
        flex-direction: row;
        margin-top: 0;
    }

    .lateral-menu-container .lateral-menu-body .lateralPanelOption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 12px;
    }

    .lateral-menu-container .lateral-menu-body .lateralPanelOption.dropdownOption {
        flex-direction: row;
        align-items: flex-start;
    }

    div.overline,
    .lateral-menu-container .lateral-menu-body .modules {
        display: none;
    }

    .modulesDropdown {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .lateral-menu-container .lateral-menu-header .logotype {
        width: 48px;
        background-image: url('../isotipe-color.svg');
        background-size: 48px;
    }

    .lateral-menu-container .lateral-menu-body .lateralPanelOption {
        margin: 0 6px;
        font-size: 13px;
    }

    .lateral-menu-container {
        padding: 1em;
    }
}

@media screen and (max-width: 512px) {
    .lateral-menu-container .lateral-menu-header {
        display: none;
    }

    .lateral-menu-container .lateral-menu-body {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 479px) {
    .lateral-menu-container .lateral-menu-body .lateralPanelOption {
        margin: 0 4px;
    }
}