

div#login {
    height: calc(100vh - 56px - 68px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
}

div#register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div#register .form-container {
    width: 39%;
}

div#register .form-images img {
    width: 590px;
}

div#login .form-container {
    width: 34%;
}

div#login .form-content .login-small {
    font-weight: 700;
}

div#login .form-images img {
    display: block;
    margin: auto
}

div#login .form-container .loginFormTitle {
    margin-top: 7px;
}

div#login .form-container .form-group input {
    font-weight: 400;
}

.intructions {
    color: #121330;
}

/* welcome */

.account-complete {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-complete h3, .account-complete p {
    text-align: center
}

.account-complete .form-content .form-row .form-group {
    width: 90%;
}

.account-image {
    width: 172px;
    height: 172px;
}

.account-complete .photo-container {
    width: 100%;
    height: 100%;
    border: 1px solid #e2e9f1;
    background-image: url('../ilustrations/profile.png');
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.account-complete .photo-container .photo-profile{
    min-width: 100%;
    min-height: 100%;
}

#loginAlert {
    display: none;
}

.button-active {
    background-color: #a575ff;
    cursor: default;
}

.button-active:hover {
    background-color: #a575ff;
    cursor: default;
}

@media screen and (max-width: 991px){
    div#login {
        padding: 2rem;
        flex-direction: column;
    }

    div#login .form-container{
        width: 100%; 
        margin-top: 2rem;
    }

    div#login .form-images { display: none; }

    div#register {
        flex-direction: column
    }

    div#register .form-images img {
        width: 332px;
    }

    div#register .form-container {
        width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 680px) {
    .account-complete {
        text-align: center;
    }
 
    div#login .form-container{
        margin-top: 4rem;
    }

    .account-complete .form-content .form-row .form-group {
        width: auto;
        margin: 0 0.5em 1em 0.5em;
    }
    
    .betacheckbox p { max-width: 82%; }
}

.betaswitch {
    position: relative;
    display: block;
    width: 56px;
    height: 28px;
}

.betacheckbox { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.betacheckbox p { width: 87%; }
/* .betacheckbox label { margin-right: 12px; } */

.betaswitch input {
    display: none;
}
   
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .4s;
}
   
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
   
input:checked + .slider {
    background-color: #6610f2;
}
   
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
   
.slider.round:before {
    border-radius: 50%;
}

.loginTitle {
    margin-top: 1em;
    letter-spacing: -0.7px;
    margin-bottom: 0.5em;
}

.forgot-password {
    font-weight: 700;
    font-size: 13px;
    color: #6710F2;
    margin-top: 3px;
}