@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('../fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes borderInput {
    to {
        border: 1px solid #5142BA;
    }
}

label {
    font-weight: 600;
    font-size: 14px
}

nav {
    display: flex;
    justify-content: space-between
}

.nav-link {
    font-size: 14px;
    font-weight: 400
}

.scrollable {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 212px;
}

.scrollable::-webkit-scrollbar {
    width: 11px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 192);
    border: 2.5px solid rgb(232, 231, 236);
    border-radius: 6px;
}

.scrollable::-webkit-scrollbar-track {
    background-color: rgb(232, 231, 236);
    border-radius: 6px;
}

/* .scrollable::-webkit-scrollbar-thumb {
    background-color: green;
}

.scrollable::-webkit-scrollbar-track {
    width: 8px;
    background-color: green;
}

.scrollable::-webkit-scrollbar-corner {
    background-color: green !important;
} */

router-link, a, button {
    text-decoration: none !important;
}

.content-flex {
    width: 100%;
    display: flex;
    grid-column: 1 / 19;
    grid-row: 1 / 13;
}

@media screen and (max-width: 767px) {
    .content-flex {
        flex-direction: column;
    }

    .content-flex .bg-image {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .content-flex {
        flex-direction: column;
    }

    .content-flex .bg-image {
        width: 50%;
    }

    .content-flex .bg-image div img {
        width: 90%;
    }

    .content-flex .info-inputs {
        width: 50%;
    }
}

.form-textarea {
    width: 100%;
}

.bg-image {
    grid-row: 1 / 13;
    grid-column: 1 / 9;
    background-color: #00001C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem
}

.bg-image img { width: 396px; }

.info-inputs {
    grid-column: 9 / 19;
    grid-row: 1 / 13;
    margin: 2rem;
}

.back-btn {
    color: #FEFCFF;
    font-size: 24px;
    position: fixed;
    z-index: 1;
    top: 24px;
    left: 24px;
}

#navbar {
    position: relative;
    z-index: 0;
}

.navbar-nav {
    position: absolute;
    right: 72px;
    z-index: .1;
}

.projectNameOnBrand {
    padding-left: 1rem; 
    border-left: 1px solid #000;
    display: flex;
    align-items: center;
}

.credits-banner {
    padding: 1rem;
    background-color: rgba(203, 157, 255, 0.452);
}

.instructCopy {
    width: 100vw;
    top: 0;
    padding: 7px 12px;
    background-color: #6710f2;
    position: absolute;
    color: #e2dfe9;
    text-align: center;
    font-size: 14px;
}

.navbar-toggler {
    margin-right: -23px;
}

a.router-link-exact-active, a {
    text-decoration: none;
    color: #00000080
}

a.router-link-exact-active:hover, a:hover {
    color: #14141f
}

.feather-light {
    width: 24px;
    height: 24px;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-dark {
    width: 24px;
    height: 24px;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-menu {
    width: 18px;
    height: 18px;
    stroke: #9797ac;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-burger {
    width: 32px;
    height: 32px;
    stroke: #0B0B14;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-red {
    width: 20px;
    height: 20px;
    stroke: #FF524C;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-like-options {
    width: 17px;
    height: 17px;
    stroke: rgb(117, 113, 121);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-left: 7px;
}

.feather-mini-red {
    width: 16px;
    height: 16px;
    stroke: #d12b39;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-mini-light {
    width: 17px;
    height: 17px;
    stroke: #f2f2f2;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-link {
    width: 16px;
    height: 16px;
    stroke: rgb(146, 146, 146);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-blue {
    width: 36px;
    height: 36px;
    stroke: #165fec;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-shortcut {
    width: 24px;
    height: 24px;
    stroke: #165fec;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-green {
    width: 16px;
    height: 16px;
    stroke: #00c954;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-sketch {
    width: 33px;
    height: 33px;
    stroke: #9e95aa;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.dropdown-menu {
    background: #fff;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.dropdownOverline {
    font-weight: 900;
    letter-spacing: 0;
}

.dropdown-item {
    font-size: 14px;
}