/* Dashboard order */
/* imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* fonts */
@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('../fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.baseLayout {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 55px calc(100vh - 55px);
}

.dashboardContent {
    grid-row: 2 / 3;
    overflow-y: scroll;
}

.feedLayout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 72% 28%;
    grid-template-rows: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.formLayout {
    width: 100%;
    height: 100%;
    display: grid;  
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

/* reboot */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, button {
    color: #000;
    text-decoration: none !important;
}

label {
    font-weight: 600;
    font-size: 13px
}

nav {
    display: flex;
    justify-content: space-between
}

/* scrollable  */

.scrollable {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 212px;
}

.scrollable::-webkit-scrollbar {
    width: 11px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(177, 177, 192);
    border: 2.5px solid rgb(232, 231, 236);
    border-radius: 6px;
}

.scrollable::-webkit-scrollbar-track {
    background-color: rgb(232, 231, 236);
    border-radius: 6px;
}

/* instruct  */
.instructCopy {
    width: 100vw;
    top: 0;
    padding: 7px 12px;
    position: relative;
    z-index: 1;
    color: #9a97a3;
    text-align: center;
    font-size: 12px;
}

/* dropdown  */
.dropdown-menu {
    background: #fff;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.dropdownOverline {
    font-weight: 900;
    letter-spacing: 0;
}

.dropdown-item {
    font-size: 14px;
}