
.projectsField {
    width: 30%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.projectsField .projectsBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.projectsField .projectsBanner p {
    line-height: 1.4;
    margin-right: 42px;
}

.projectsField .projectsList .projectListElements {
    display: flex;
    flex-wrap: wrap;
}

.projectsField .projectsList::-webkit-scrollbar {
    width: 10px;
}
  
.projectsField .projectsList::-webkit-scrollbar-track {
    background: transparent;
}
  
.projectsField .projectsList::-webkit-scrollbar-thumb {
    background: #f1f2f7;
    border-radius: 24px;
}
  
.projectsField .projectsList::-webkit-scrollbar-thumb:hover {
    background: #dbdce2;
}

.projectsField .projectsList {
    overflow-y: scroll;
}

.projectsField .projectsList ul {
    margin: 0 auto;
}

.project-el {
    width: 100%;
    margin-right: 7px;
}

.card.projectCard:hover {
    animation: toBorder 400ms forwards;
    text-decoration: none !important;
}

@keyframes toBorder {
    to {
        box-shadow: 0 15px 16px rgba(0, 0, 0, 0.08);
        border: 2px solid #5900C6;
    }
}

.card.projectCard {
    width: 100%;
    background-color: #fff;
    border: 2px solid rgb(233, 233, 240);
    box-shadow: 0 9px 7px rgba(0, 0, 0, 0.02);
    border-radius: 7px;
}

.projectImageContainer {
    overflow: hidden;
    position: relative;
}

.projectImage {
    position: absolute;
    width: 100%;
}

.projectIcon {
    width: 70px;
}

.projectCard {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.projectLastActivity {
    font-size: 12.5px;
    font-weight: 700;
}

a.projectCardMenuOptions {
    position: absolute;
    right: 0;
    z-index: 12;
    background: transparent;
    border: none;
    padding: 7px 0;
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
    font-weight: 600;
}

.card-body {
    /* background: rgba(0, 0, 0, 0.5); */
    border-radius: 4px;
}

.dropdownOverline {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #788692;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-left: 21px;
}

.card-body .card-title{
    color: rgb(57, 57, 71);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
}

.helperCard {
    width: 70%;
    height: calc(100vh - 104px);
    padding: 2rem;
    overflow-y: scroll;
}

.helperCard::-webkit-scrollbar {
    width: 10px;
}
  
.helperCard::-webkit-scrollbar-track {
    background: transparent;
    margin: 6px;
}

.helperCard::-webkit-scrollbar-thumb {
    background: #f1f2f7;
    border-radius: 24px;
}
  
.helperCard::-webkit-scrollbar-thumb:hover {
    background: #dbdce2;
}

.rowStructure {
    display: flex; 
    flex-direction: row-reverse;
    padding-left: 4rem;
    padding-right: 4rem;
    max-height: 100%;
}

.asesor {
    display: flex; 
    justify-content: space-around; 
    align-items:center;
    margin-bottom: 21px
}

@media screen and (max-width: 1046px) {
    .rowStructure {
        padding-left: 0;
        padding-right: 0;
    }
}


@media screen and (max-width: 991px) {
    .rowStructure {
        flex-direction: column;
    }

    .helperCard {
        width: 100%;
        overflow-y: visible;
    }

    .projectsField {
        width: 100%;
    }

    .asesor {
        display: none;
    }
}

@media screen and (max-width: 867px) {
    .project-el {
        width: 100%;
    }

    .projectsField {
        padding: 2rem;
    }
}

@media screen and (max-width: 536px) {
    .projectsField {
        padding: 0 1rem;
    }

    .project-el {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .projectCard {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    }

    .helperCard {
        padding: 0;
    }
}

.projectsHeaderTitle {
    letter-spacing: -0.7px;
}

.projectAutor {
    font-size: 13px;
}

/* states */

.state-badge-success {
    background: rgba(42, 207, 78, 0.274);
    padding: 2px 12px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.733);
}
