

.tasksPanel {
    height: 92vh;
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: #FFF;
    overflow: scroll;
    overflow-x: hidden;
}

.tasksPanel::-webkit-scrollbar {
    width: 12px;
}

.tasksPanel::-webkit-scrollbar-thumb {
    background-color: #9C9CAA;
    border: 2.5px solid rgb(212, 210, 219);
    border-radius: 6px;
}

.tasksPanel::-webkit-scrollbar-track {
    background-color: rgb(212, 210, 219);
}

.tasksPanelWrapper {
    margin: 21px;
}

.tasksPanelTitle {
    font-size: 16px;
    font-weight: 800;
    margin-left: 7px;
}

.taskCard {
    width: 100%;
    padding: 12px;
    border: 1px solid #E9E8E8;
    border-radius: 4px;
    margin-top: 12px;
}

.taskCard .taskPublisherProfile {
    width: 24px;
    height: 24px;
    background-image: url('../ilustrations/profile.png');
    background-size: cover;
    border-radius: 12px;
}

.taskPublisher {
    color: #9797AC;
    font-size: 12.5px;
    display: flex;
    align-items: center;
}

.taskPublisher span {
    margin-left: 12px;
}

.taskToDo {
    line-height: 1.2;
}


.taskSetting {
    width: 100%;
    position: fixed;
    z-index: 0;
    bottom: 0;
    padding: 12px;
    background: #F2F2F2;
}

.taskSettingInput {
    max-width: 314px;
    font-family:'Source Sans Pro'; 
    font-weight: 500;
    font-size: 15px;
    padding: 0;
}

.taskBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}