#usersRegistry {
    grid-column: 4 / 19;
    grid-row: 1 / 13;
    margin: 2rem;
}

#usersRegistry .usersListTable {
 /* todo */
}

#usersRegistry .bannerNonUsers {
    width: 57%;
    padding: 2rem;
    background-color: #fcfcfd;
    border: 1px solid #ebe9ec;
    border-radius: 6px;
    display: flex;
}